<div class="footer">
    <div class="pull-right">
       <strong>Credits</strong> Engineering Team
    </div>
    <div>
        <strong>Copyright</strong> Neogrowth Credit Pvt. Ltd. &copy; 2014-2017
    </div>
</div>
